# IDE's
.vscode/
.editorconfig
.editorconfig

# database files
*db.*
*.sqlite3

# Project
.env
static_root
media/
.pytest_cache/

# collected static files
fobbage/staticfiles/
staticfiles/

# testfiles
.coverage
htmlcov/
_*/

# front-end
node_modules
.DS_Store
node_modules
dist
/coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
src/services/api/dndSession.txt


# db dump
fobbage.json
fobbage2.json
fobbage3.json
dump.sql
