[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"heroku3" = "*"
whitenoise = "*"
gunicorn = "*"
django-extensions = "*"
django-environ = "*"
"psycopg2" = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-bulma = "*"
channels = "*"
channels-redis = "*"
django-spa = "*"
idna = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
# v = {version = "*", editable = true}
factory-boy = "*"
ipython = "*"
"flake8" = "*"

[requires]
python_version = "3.10"
