[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"heroku3" = "*"
whitenoise = "*"
gunicorn = "*"
django-extensions = "*"
django-environ = "*"
"psycopg2" = "*"
django-allauth = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
django-rest-auth = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-coverage = "*"
v = {version = "*", editable = true}
factory-boy = "*"
ipython = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
