{% block header %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'index' %}">
        <h1 class="title">Fobbage</h1>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-end">
      {% if user.is_authenticated %}
        <div class="navbar-item">
          <p>{{ user.username }} </p>
        </div>

        <div class="navbar-item">
          <div class="buttons">
          <a class="button is-light" href="{% url 'logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="{% url 'signup' %}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{% url 'login' %}">Login</a>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
  </nav>

{% endblock header %}