{% extends "base.html" %}
{% load bulma_tags %}


{% block header %}
{% endblock header %}

{% block quiz %}
    <h1 class="title">Leaderboard</h1>
    <ol>
        {% for player in scores %}
            <li>
                {{ player.0.first_name }}: {{ player.1 }}
            </li>
        {% endfor %}
    </ol>


    </form>
{% endblock %}

{% block quiz_footer %}
<div class="level">
  <div class="level-item">
    {% if active_question %}
    {% url 'round' active_question.round.id as url %}
    <a class="button" href="/round/{{ active_question.round.id }}">
        Back to Round
    </a>
    {% else %}

    {% endif %}
  </div>
</div>

{% endblock %}
