{% extends "base.html" %}
{% load bulma_tags %}

{% block header %}
{% endblock header %}

{% block quiz %}
    <h1 class="title">Leaderboard</h1>
    <ol>
        {% for player in scores %}
            <li>
                {% firstof player.0.first_name player.0.username %}: {{ player.1 }}
            </li>
        {% endfor %}
    </ol>
    </form>
{% endblock %}

{% block quiz_footer %}
<div class="level">
  <div class="level-item">
    {% if session %}
        {% url 'session' session.id as url %}
        <a class="button" href="/session/{{ session.id }}">
            Back to Session
        </a>
    {% else %}

    {% endif %}
  </div>
</div>

{% endblock %}
