{% extends "base.html" %}
{% load bulma_tags %}

{% block quiz %}
    <h1 class="title">{{ answer.text }}</h1>
    {% if answer.is_correct %}
        <h2 class="subtitle">Was the correct answer!</h2>

    {% endif %}
    {% if bluffs %}
        <h2 class="subtitle">Was a bluff from:</h2>
        <div>
            {% for bluff in bluffs %}
            <span>{% firstof bluff.player.first_name bluff.player.username %} +{{bluff.score}} </span>
            {% endfor %}
        </div>
        <br/>
        <div>

        </div>
    {% endif %}

    <h2 class="subtitle">Players who guessed this answer:</h2>
    {% for guess in answer.guesses.all %}
        <span>{% firstof guess.player.first_name guess.player.username %}, </span>
    {% endfor %}
    <br/>
    {% url 'show_scores' answer.question.id as url %}
{% endblock %}

{% block quiz_footer %}
<div class="level">
  <div class="level-item">
    <a class="button" href="{{ url }}">
        Next Answer
    </a>
    {% if quiz %}
        {% url 'quiz' quiz.id as url %}
        <a class="button" href="/quiz/{{ quiz.id }}">
            Back to Quiz
        </a>
    {% else %}

    {% endif %}
    {% if answer.is_correct %}
        <a class="button" href="/quiz/{{ answer.question.quiz.id }}/scoreboard">
        Scoreboard
        </a>
    {% endif %}
  </div>




</div>

{% endblock %}
