{% extends "quizes/base.html" %}

{% block content %}
    <h1>{{ round.title }}</h1>
    {% if question %}
        <h2>{{ question.text }} </h2>
        {% if question.status == 1 %}

        {% elif question.status == 2 %}
        <ul>
            {% for answer in question.answers.all %}
                <li>
                    <!-- <a href="/round/{{ round.id }}/"> -->
                       {{answer.order}}: {{ answer.text }}
                    <!-- </a> -->
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div>
            <a href="/question/{{ question.id }}/show_answers">
                <button>Show Answers</button>
            </a>
            <a href="/question/{{ question.id }}/hide_answers">
                <button>Hide Answers</button>
            </a>
            <a href="/question/{{ question.id }}/show_scores">
                <button>Show Scores</button>
            </a>
        </div>
    {% endif %}

    <div>
        <a href="/round/{{ round.id }}/prev_question">
            <button>Previous Question</button>
        </a>
        <a href="/round/{{ round.id }}/next_question">
            <button>Next Question</button>
        </a>
        <a href="/quiz/{{ round.quiz.id }}/">
            <button>Back to quiz</button>
        </a>
        <a href="/quiz/{{ round.quiz.id }}/scoreboard">
            <button>Scoreboard</button>
        </a>

    </div>

{% endblock %}