{% extends "bulma/base.html" %}
{% load bulma_tags %}


{% block header %}
{% endblock header %}

{% block content %}
    <h1 class="title">{{ round.title }}</h1>

    {% if question %}
        <h2 class="subtitle">{{ question.text }} </h2>
        {% if question.status == 1 %}

        {% elif question.status == 2 %}
        <ul>
            {% for answer in question.answers.all %}
                <li>
                  {{answer.order}}: {{ answer.text }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div>
            <a class="button" href="/question/{{ question.id }}/show_answers">
              Show Answers
            </a>
            <a class="button" href="/question/{{ question.id }}/hide_answers">
              Hide Answers
            </a>
            <a class="button" href="/question/{{ question.id }}/show_scores">
              Show Scores
            </a>
        </div>
    {% endif %}
{% endblock %}


{% block footer %}
        <div class="level">
    <div class="level-item">
        <a class="button" href="/round/{{ round.id }}/prev_question">
          Previous Question
        </a>
        <a class="button" href="/round/{{ round.id }}/next_question">
          Next Question
        </a>
        <a class="button" href="/quiz/{{ round.quiz.id }}/">
          Back to quiz
        </a>
        <a class="button" href="/quiz/{{ round.quiz.id }}/scoreboard">
          Scoreboard
        </a>
      </div>
    </div>
{% endblock %}q
