{% extends "bulma/base.html" %}
{% load bulma_tags %}


{% block header %}
{% endblock header %}


{% block content %}
    <h1 class="title">{{ answer.text }}</h1>
    {% if answer.is_correct %}
        <h2 class="subtitle">Was the correct answer!</h2>


    {% endif %}
    {% if bluffs %}
        <h2 class="subtitle">Was a bluff from: </h2>
        <div>
            {% for bluff in bluffs %}
            <span>{{ bluff.player.first_name }} +{{bluff.score}} </span>
            {% endfor %}
        </div>
        <br/>
        <div>

        </div>
    {% endif %}

    <h2 class="subtitle">Players who guessed this answer: </h2>
    {% for guess in answer.guesses.all %}
        <span>{{ guess.player.first_name }}, </span>
    {% endfor %}
    <br/>
    {% url 'show_scores' answer.question.id as url %}
{% endblock %}

{% block footer %}
<div class="level">
  <div class="level-item">
    <a class="button" href="{{ url }}">
        Next Question
    </a>
    <a class="button" href="/round/{{ answer.question.round.id }}">
    Back to Round
    </a>
    {% if answer.is_correct %}
        <a class="button" href="/quiz/{{ answer.question.round.quiz.id }}/scoreboard">
        Scoreboard
        </a>
    {% endif %}
  </div>




</div>

{% endblock %}
